name: Pinecone CI

on: 
  pull_request: {}
  push:
    branches:
      - main
  workflow_dispatch: {}
  workflow_call:
    secrets:
      PINECONE_API_KEY:
        required: true
      PINECONE_ENVIRONMENT:
        required: true

jobs:
  run-tests:
    name: Run integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run tests
        uses: ./.github/actions/run-tests
        with:
          pinecone_api_key: ${{ secrets.PINECONE_API_KEY }}
          pinecone_environment: ${{ secrets.PINECONE_ENVIRONMENT }}