name: Pull Request

on:
  pull_request: {}
  push:
    branches:
      - main
  workflow_dispatch: {}
  workflow_call:
    secrets:
      PINECONE_API_KEY:
        required: true

jobs:
  basic-hygiene:
    name: Linting, formatting, documentation, etc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Prettier
        run: npm run format
      - name: Check for prettier changes
        run: |
          git diff --exit-code >/dev/null 2>&1
          git diff
          EXIT_CODE=$?
          if [ $EXIT_CODE -ne 0 ]; then
            echo "Prettier changes detected. Please run 'npm run format' and commit the changes."
            exit 1
          fi
      - name: ESLint
        run: npm run lint
      - name: TypeDoc
        uses: ./.github/actions/build-docs

  testing:
    uses: './.github/workflows/testing.yml'
    secrets: inherit
