name: Pull Request

on:
  pull_request: {}
  push:
    branches:
      - main
  workflow_dispatch: {}
  workflow_call:
    inputs:
      ref:
        description: 'Branch name or SHA to checkout'
        required: false
        type: string
    secrets:
      PINECONE_API_KEY:
        required: true

permissions:
  contents: read

jobs:
  basic-hygiene:
    name: Linting, formatting, documentation, etc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref != '' && inputs.ref || github.ref }}
      - name: Setup
        uses: ./.github/actions/setup
      - name: Prettier
        run: npm run format
      - name: Check for prettier changes
        shell: bash
        run: |
          git diff --exit-code > /dev/null 2>&1 || EXIT_CODE=$?; echo "Exit code: $EXIT_CODE"
          if [ $EXIT_CODE -ne 0 ]; then
            echo "Prettier changes detected. Please run 'npm run format' and commit the changes."
            echo "Summary of changes: "
            git diff
            exit 1
          fi
      - name: ESLint
        run: npm run lint
      - name: TypeDoc
        uses: ./.github/actions/build-docs

  testing:
    uses: './.github/workflows/testing.yml'
    secrets: inherit
    with:
      ref: ${{ inputs.ref }}
