name: Pull Request

on:
  pull_request: {}
  push:
    branches:
      - main
  workflow_dispatch: {}
  workflow_call:
    secrets:
      PINECONE_API_KEY:
        required: true
      PINECONE_ENVIRONMENT:
        required: true

jobs:
  basic-hygiene:
    name: Linting, formatting, documentation, etc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
      - name: Prettier
        run: npm run format
      - name: Check for prettier changes
        run: |
          git diff --exit-code >/dev/null 2>&1
          EXIT_CODE=$?
          if [ $EXIT_CODE -ne 0 ]; then
            echo "Prettier changes detected. Please run 'npm run format' and commit the changes."
            exit 1
          fi
      - name: ESLint
        run: npm run lint
      - name: TypeDoc
        uses: ./.github/actions/build-docs

  run-integration-tests:
    name: Run integration tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jest_env: ['node', 'edge']
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run tests
        env:
          CI: true
          PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
          PINECONE_ENVIRONMENT: ${{ secrets.PINECONE_ENVIRONMENT }}
        run: npm run test:integration:${{ matrix.jest_env }}

  example-app-semantic-search:
    name: "Example app: semantic search"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout pinecone-ts-client
        uses: actions/checkout@v4
      - name: Setup pinecone-ts-client
        uses: ./.github/actions/setup
      - name: Checkout semantic-search-example
        uses: actions/checkout@v4
        with:
          repository: pinecone-io/semantic-search-example
          path: ../semantic-search-example
      - name: Run example tests with dev version of client
        env:
          CI: true
          PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
          PINECONE_ENVIRONMENT: ${{ secrets.PINECONE_ENVIRONMENT }}
        shell: bash
        run: |
          set -x
          cd ../semantic-search-example
          npm install --no-cache
          npm install '../pinecone-ts-client'
          npm run build
          npm run test

  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run tests
        env:
          CI: true
        run: npm run test:unit -- --coverage
