name: Release to NPM

on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: 'Release type'
        required: true
        default: 'patch'
        options:
          - 'patch' # bug fixes
          - 'minor' # new features, backwards compatible
          - 'major' # breaking changes

# prevent concurrent releases
concurrency:
  group: npm-release
  cancel-in-progress: true

jobs:
  integration-tests:
    uses: '.github/workflows/PR.yml@main'
    secrets: inherit

  version-and-release:
    name: Release to NPM
    needs: integration-tests
    runs-on: ubuntu-latest
    outputs:
      tagName: ${{ steps.npm-release.outputs.release_tag }}
    steps:
      - name: Setup
        uses: '.github/actions/setup.yml'
      - name: Version and publish to npm
        id: npm-release
        uses: .github/actions/npm-release.yml
        with:
          git_email: clients@pinecone.io
          git_username: ${{ github.actor }}
          releaseType: ${{ github.event.inputs.releaseType }}
          npm_token: ${{ secrets.NPM_TOKEN }}
      - run: echo "${{ steps.npm-release.outputs.release_tag }} was published"